<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Advanced Software Engineering</h1>
            <span>University of Science and Technology of China</span>
            <span><address>SuZhou, China</address><time>2015 to now</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Major in Software Engineering</h1>
            <span>DaLian University of Technology</span>
            <span><address>DaLian, China</address><time>2011 to 2015</time></span>
        </header>
    </article>
</section>
